* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #282846;
  --board-color: #d8ebe4;
  --snake-color: #fed049;
  --food-color: #007580;

  --dpad-radius: 17%;
  --dpad-radius-in: 20%;
  --dpad-fg: #ddd;
  --dpad-fg-hover: #eee;
  --dpad-bg: #fff;
  --arrowcolor: #aaa;
  --tri-sml-a: 13px;
  --tri-sml-b: 19px;
  --tri-lrg-a: 13px;
  --tri-lrg-b: 19px;
  --dpad-arrow-shift: 5px;
  --dpad-arrow-move: 35%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Anton', sans-serif;
}

.snake {
  background-color: var(--snake-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

.food {
  border-radius: 50%;
  background-color: var(--food-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

